<div class="container">

  <div class="row">
    <div class="col-4-xs col-xs-offset-4">
      <p>
        <strong>Fred Block</strong><br>
        1925 Pearl St<br>
        #2429<br>
        Denver, CO 80203<br>
      </p>

      <p>
        720-432-2386<br>
        fb[at]fredblock.com
      </p>
    </div>
  </div>

</div>
