<% provide(:title, "Contact") %>

<div class="container">

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2
                col-sm-8 col-sm-offset-2
                col-md-6 col-md-offset-3">

      <p class="center">
        Please email me at:<br>
        <%= image_tag("email-gray.svg", class: "email-gray") %>
      </p>

    </div>
  </div>

</div>
