<% provide(:title, "Contact") %>

<div class="container">

  <div class="row">
    <div class="col-4-xs col-xs-offset-4">

      <p>
        Please send me an email:<br>
        hello at fred block dot com
      </p>

    </div>
  </div>

</div>
