<h1>hello world!</h1>
<button>"Hello world!"</button>
<p>
  My name is Fred Block and I'm a designer + developer based in Denver, CO.
  Thanks for taking the time to check out my site!
</p>

<p>
  I enjoy collaborating with people on a wide variety of artistic pursuits –
  especially designing and building applications for the web.
</p>

<p>
  To see examples of my work, please see my
  <%= link_to "portfolio", portfolio_path %>.
</p>

<p>
  To learn more about me and the things I have done, please see my
  <%= link_to "resume", resume_path %>.
</p>
