@import "bootstrap-sprockets";
@import "bootstrap";


// UNIVERSAL ////////////////////////////////////////////////////////

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}






// NAVBAR /////////////////////////////////////////////////////////////

nav  {
  text-align: center;
}

.navbar-default  {
  background-color: rgba(255, 255, 255, 1.0);
}

.navbar-toggle  {
  margin: 12px 15px 0 0;
}

.logo  {
  max-height: 50px;
  margin: 5px auto;
  padding: 0 0 0 58px;
}
